<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Presentation.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/orcl;PASSWORD=aaa;USER ID=C##ERSHAD" providerName="Oracle.ManagedDataAccess.Client"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Presentation.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>C:\Users\ershad\Desktop\font.ttf</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>246810</value>
            </setting>
            <setting name="Theame" serializeAs="String">
                <value/>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value/>
            </setting>
            <setting name="s" serializeAs="String">
                <value>False</value>
            </setting>
        </Presentation.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Presentation.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>Ershad</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>311226817</value>
            </setting>
        </Presentation.Properties.Settings>
    </applicationSettings>
</configuration>
